<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Billing Company</title>
    <link th:href="@{/css/lists.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>

<body>
<div class="container">
    <div class="content">
        <h1>Debits List</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Borrower</th>
                <th scope="col">Company</th>
                <th scope="col">Value</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="debt : ${debtsList}">
                <td th:text="${debt.getBorrowerName()}"/>
                <td th:text="${debt.getCompanyFantasyName()}"/>
                <td th:text="${debt.getDebtValue()}"/>
                <td>
                    <a th:text="'Click Here'" th:href="@{/debts/{id}(id=${debt.id})}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="company-list-buttons">
            <a th:href="@{/debts/create}">
                <button class="btn btn-primary">Create</button>
            </a>
            <a th:href="@{/}">
                <button class="btn btn-secondary">Home</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>